body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 20px;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 1400px;
}

.grid-item {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.item-type-common {
  color: #a48bf3;
}

.item-type-magic,
.magic-text {
  color: #a0c0ff;
}

.item-type-plagued,
.plagued-text {
  color: #a48bf3;
}

.item-type-legendary {
  color: #fbbc04;
}

.item-type-downside,
.downside-text {
  color: #ff6b6b;
}

.item-quote {
  font-style: italic;
  font-size: 0.85em;
  padding: 6px 15px;
  color: #bbb;
  border-top: 1px solid #333;
  text-align: center;
}


.downside-text {
  color: #ff6b6b;
}

.weapon-card {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(10, 10, 25, 0.9);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.2);
}

.weapon-header {
  padding: 15px;
  position: relative;
}

.weapon-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #e0e0e0;
}

.weapon-level {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(135deg, #1a4063, #0a1e31);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border: 2px solid #4a90e2;
  transform: rotate(45deg);
}

.weapon-level span {
  transform: rotate(-45deg);
}

.weapon-type-select {
  margin-top: 5px;
}

.weapon-type-select select {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 16px;
  padding: 5px 0;
  width: 250px;
  cursor: pointer;
  outline: none;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.is-visible {
  display: flex;
  visibility: visible;
}

.modal-content {
  background-color: #111;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
}

.modal-title {
  color: #eee;
  text-align: center;
  margin-bottom: 20px;
}
