.enchantments-container {
  padding: 6px 15px;
  border-top: 1px solid var(--color-border);

  .enchantment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: var(--color-text-gray);
    font-size: 14px;
  }

  .enchantment-item {
    font-size: 0.85em;
    padding: 6px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: var(--color-bg-item);
  }

  select {
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-border-dark);
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
  }

  option {
    background-color: var(--color-bg-item);
    color: var(--color-white-bright);
  }

  .enchant-group-Other {
    background-color: var(--color-enchant-other);
  }

  .enchant-group-Attack {
    background-color: var(--color-enchant-attack);
  }

  .enchant-group-Stamina {
    background-color: var(--color-enchant-stamina);
  }

  .enchant-group-Durability {
    background-color: var(--color-enchant-durability);
  }

  .enchant-group-Healing {
    background-color: var(--color-enchant-healing);
  }

  .enchant-group-Weight {
    background-color: var(--color-enchant-weight);
  }

  .enchant-group-Focus {
    background-color: var(--color-enchant-focus);
  }

  .enchant-group-Defense {
    background-color: var(--color-enchant-defense);
  }

  .enchant-group-Indestructible {
    background-color: var(--color-enchant-durability);
  }

  .enchant-group-Infusion {
    background-color: var(--color-enchant-infusion);
  }

  .enchant-group-Resistance {
    background-color: var(--color-enchant-resistance);
  }

  .enchant-group-Movement {
    background-color: var(--color-enchant-movement);
  }

  .enchant-group-Downside {
    background-color: var(--color-enchant-downside);
  }

}


.enchantments-container-compact {
  padding-top: 8px;
  border-top: 1px solid var(--color-border);

  .enchantment-item-compact {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    font-size: 0.8em;
  }

}
