.enchantments-container {
  padding: 6px 15px;
  border-top: 1px solid var(--color-border);

  .enchantment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: var(--color-text-gray);
    font-size: 14px;
  }

  .enchantment-item {
    font-size: 0.85em;
    padding: 6px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: var(--color-bg-item);
  }

  .custom-select-container {
    position: relative;
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-border-dark);
    padding: 4px;
    border-radius: 4px;
    /* width: 100%; */
    max-width: 448px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;

    .custom-select-dropdown {
      position: fixed;
      border: 1px solid var(--color-border-dark);
      border-radius: 4px;
      z-index: 1000;
      max-height: 400px;
      overflow-y: auto;
      background-color: var(--color-bg-item);
    }
  }

  select {
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-border-dark);
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
  }

  option {
    background-color: var(--color-bg-item);
    color: var(--color-white-bright);
  }

  .enchant-group-Other {
    background-color: var(--color-enchant-other);
  }

  .enchant-group-Attack {
    background-color: var(--color-enchant-attack);
  }

  .enchant-group-Stamina {
    background-color: var(--color-enchant-stamina);
  }

  .enchant-group-Durability {
    background-color: var(--color-enchant-durability);
  }

  .enchant-group-Healing {
    background-color: var(--color-enchant-healing);
  }

  .enchant-group-Weight {
    background-color: var(--color-enchant-weight);
  }

  .enchant-group-Focus {
    background-color: var(--color-enchant-focus);
  }

  .enchant-group-Defense {
    background-color: var(--color-enchant-defense);
  }

  .enchant-group-Indestructible {
    background-color: var(--color-enchant-durability);
  }

  .enchant-group-Infusion {
    background-color: var(--color-enchant-infusion);
  }

  .enchant-group-Resistance {
    background-color: var(--color-enchant-resistance);
  }

  .enchant-group-Movement {
    background-color: var(--color-enchant-movement);
  }

  .enchant-group-Downside {
    background-color: var(--color-enchant-downside);
  }

}


.enchantments-container-compact {
  padding-top: 8px;
  border-top: 1px solid var(--color-border);

  .enchantment-item-compact {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    font-size: 0.8em;
  }

}

.enchant-display {
  display: flex;
  align-items: center;
}

.enchant-display-text {
  b {
    display: contents;
  }
}

.ui-font-icons {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -2px;

  background-image: url('/images/uiFontIcons.png');
  background-repeat: no-repeat;

  background-size: 256px 256px;


  --ui-font-icon-2nd: -128px;
  --sprite-small: 16px;

  &.icon-StatPhysicalDamage {
    background-position: calc(var(--sprite-small) * -5) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 3));
  }

  &.icon-StatDamage {
    background-position: calc(var(--sprite-small) * 0) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 3));
  }

  &.icon-StatDamageTaken {
    background-position: calc(var(--sprite-small) * 0) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 4));
  }

  &.icon-StatFireArmor {
    background-position: calc(var(--sprite-small) * -1) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 4));
  }

  &.icon-StatColdArmor {
    background-position: calc(var(--sprite-small) * -2) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 4));
  }

  &.icon-StatLightningArmor {
    background-position: calc(var(--sprite-small) * -3) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 4));
  }

  &.icon-StatPlagueArmor {
    background-position: calc(var(--sprite-small) * -4) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 4));
  }

  &.icon-StatStaggerResistance {
    background-position: calc(var(--sprite-small) * -7) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 4));
  }

  &.icon-StatMaxHealth {
    background-position: calc(var(--sprite-small) * 0) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 0));
  }

  &.icon-StatHealthRegen {
    background-position: calc(var(--sprite-small) * -1) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 0));
  }

  &.icon-StatHealth {
    background-position: calc(var(--sprite-small) * -4) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 0));
  }

  &.icon-StatHealing {
    background-position: calc(var(--sprite-small) * -2) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 0));
  }

  &.icon-StatPoiseDefense {
    background-position: calc(var(--sprite-small) * -1) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 5));
  }

  &.icon-StatMaxStamina {
    background-position: calc(var(--sprite-small) * 0) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 2));
  }

  &.icon-StatStaminaRegen {
    background-position: calc(var(--sprite-small) * -1) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 2));
  }

  &.icon-StatHealthRally {
    background-position: calc(var(--sprite-small) * -2) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 2));
  }

  &.icon-StatStaminaCost {
    background-position: calc(var(--sprite-small) * -3) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 2));
  }

  &.icon-StatStamina {
    background-position: calc(var(--sprite-small) * -4) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 2));
  }

  &.icon-StatArmor {
    background-position: calc(var(--sprite-small) * 0) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 5));
  }

  &.icon-StatWeight {
    background-position: calc(var(--sprite-small) * -5) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 5));
  }

  &.icon-StatAttackSpeed {
    background-position: calc(var(--sprite-small) * -3) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 5));
  }

  &.icon-StatStaggerDamage {
    background-position: calc(var(--sprite-small) * -7) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 3));
  }

  &.icon-StatFocusGain {
    background-position: calc(var(--sprite-small) * -2) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 1));
  }

  &.icon-StatFocusCost {
    background-position: calc(var(--sprite-small) * -3) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 1));
  }

  &.icon-StatFocus {
    background-position: calc(var(--sprite-small) * -4) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 1));
  }

  &.icon-StatMovementSpeed {
    background-position: calc(var(--sprite-small) * -4) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 5));
  }

  &.icon-StatDurability {
    background-position: calc(var(--sprite-small) * -6) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 5));
  }

  &.icon-StatFireDamage {
    background-position: calc(var(--sprite-small) * -1) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 3));
  }

  &.icon-StatColdDamage {
    background-position: calc(var(--sprite-small) * -2) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 3));
  }

  &.icon-StatLightningDamage {
    background-position: calc(var(--sprite-small) * -3) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 3));
  }

  &.icon-StatPlagueDamage {
    background-position: calc(var(--sprite-small) * -4) calc(var(--ui-font-icon-2nd) - (var(--sprite-small) * 3));
  }
}

.enchant-group-sprite {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  background-image: url('/images/uiEnchantmentGroupAtlas.png');
  background-repeat: no-repeat;

  background-size: 64px 64px;

  &.sprite-Other {
    background-position: 0px 0px;
  }

  &.sprite-Attack {
    background-position: -16px 0px;
  }

  &.sprite-Stamina {
    background-position: -48px 0px;
  }

  .sprite-Durability {
    background-position: 0px 0px;
  }

  &.sprite-Healing {
    background-position: -32px -16px;
  }

  .sprite-Weight {
    background-position: 0px 0px;
  }

  &.sprite-Focus {
    background-position: -32px 0px;
  }

  &.sprite-Defense {
    background-position: -16px -16px;
  }

  .sprite-Indestructible {
    background-position: 0px 0px;
  }

  &.sprite-Infusion {
    background-position: 0px -16px;
  }

  .sprite-Resistance {
    background-position: 0px 0px;
  }

  &.sprite-Movement {
    background-position: -48px -16px;
  }

  .sprite-Downside {
    background-position: 0px 0px;
  }
}

.enchant-tag-sPhysical {
  color: var(--color-enchant-tag-sPhysical);
}

.enchant-tag-sFire {
  color: var(--color-enchant-tag-sFire);
}

.enchant-tag-sIce {
  color: var(--color-enchant-tag-sIce);
}

.enchant-tag-sLightning {
  color: var(--color-enchant-tag-sLightning);
}

.enchant-tag-sPlague {
  color: var(--color-enchant-tag-sPlague);
}
