.gem-container {
  padding: 6px 15px;
  border-top: 1px solid var(--color-border);

  .gem-item {
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-border-dark);
    border-radius: 4px;
    cursor: pointer;
    outline: none;

    .gem-icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      object-fit: cover;
    }

    .gem-text {
      font-size: 0.85em;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      flex-grow: 1;
    }
  }
}

.compact-gems-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.gem-container-compact:hover {
  transform: translateY(-3px);
  border-color: var(--color-hover-green);
}

.gem-container-compact {
  background-color: var(--color-bg-dark);
  border: 1px solid var(--color-border);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 20px var(--color-shadow-blue);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  .compact-gem-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-border-dark);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    height: 60px;

    /* padding: 0; */
    /* margin-bottom: 10px; */
  }

  .compact-gem-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    object-fit: cover;
  }

  .compact-gem-text {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    color: var(--color-white-bright);
    flex-grow: 1;
  }

  .compact-gem-item-slot {
    font-size: 1em;
    margin: 0;
  }

  .compact-gem-effect {
    font-size: 1em;
    margin: 0;
  }


}
