.item-card {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--color-bg-dark);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  box-shadow: 0 0 20px var(--color-shadow-blue);
}

.weapon-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-header {
  display: flex;
  padding: 15px;
  position: relative;
}

.item-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: var(--color-text-light);
  padding-right: 15px;
}

.item-level {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: linear-gradient(135deg, var(--color-gradient-blue-1), var(--color-gradient-blue-2));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--color-white-bright);
  border: 2px solid var(--color-border-blue);
  transform: rotate(45deg);
}

.item-level span {
  transform: rotate(-45deg);
}

.item-type-select {
  padding: 0 0 5px 15px
}

.item-rarity-select {
  margin-top: 5px;
}

.item-type-select,
.item-rarity-select {

  .item-type-common {
    color: var(--rarity-common-color);
  }

  .item-type-magic {
    color: var(--rarity-magic-color);
  }

  .item-type-plagued {
    color: var(--rarity-plagued-color);
  }

  .item-type-legendary {
    color: var(--rarity-legendary-color);
  }

  select {
    color: var(--color-text-gray);
    background-color: var(--color-bg-item);
    border: 1px solid var(--color-border-dark);
    border-radius: 4px;
    /* font-size: 16px; */
    padding: 5px 0;
    width: 150px;
    cursor: pointer;
    outline: none;
  }

  option {
    background-color: var(--color-black);
  }
}
